    html{ background: url(/static/img/background.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }


      body {
            padding: 0;
            margin: 0;
            font-family: 'Dosis', sans-serif;            
            background-color:transparent;
        }
        html, body, #map {
            height: 97%;
            width: 100%;
        }
        a,h1,h2 {color:white;}
        

        #map .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 314159;
        pointer-events: none;
    }

    .bar {
      fill: #A8ABBF;
    }
    #header {
      background-color: black;
    }

    #ban {
      background-color: #ECECEC;
      text-align: center
    }

    .legend {
        line-height: 18px;
        color: #555;
    }
    
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 1;
    }

    #about{
        background-color: grey;   
        opacity:0.95;   
    }


    #about2{
        background-color: #BDBDBD;   
        opacity:0.95;   
    }


   .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

    .legend {
    line-height: 18px;
    color: #555;
    }
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }