{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="about">
	<br>
	<div class="container">
		<div class="col-xs-12 col-md-12">
			<h1>BiciMadMap te ayuda a seguir el estado de <a href="http://www.bicimad.com">BiciMAD</a> y también a:</h1>
		</div>
	</div>
	<div class="container">		
			<div class="col-xs-12 col-md-4 text-center" >
				<h1><i class="fa fa-map-marker fa-2x"></i></h1>
				<h2>   Localizar todas las bases de BiciMAD en un mapa super cool!!</h2>
			</div>
			<div class="col-xs-12 col-md-4 text-center">
				<h1><i class="fa fa-signal fa-2x"></i></h1>
				<h2>  Ver las bicicletas y bases disponibles en tiempo real, así como el estado de la estación.</h2>
			</div>
			<div class="col-xs-12 col-md-4 text-center">
				<h1><i class="fa fa-globe fa-2x"></i></h1> 
				<h2>  Ver cual está más cerca de tu geolocalición en nuestro mapa en tiempo real.</h2>
			</div>

		</div>
		<br>
		<br>
</div>
<div id="about2">
	<div class="container">
		<div class="col-xs-12 col-md-4">
			<h3>Futuras Mejoras</h3>
		</div>
	</div>
	<div class="container">
		<div class="col-xs-12 col-md-6">
			<h4>· Visualización de la serie histórica de oferta y demanda de BiciMAD.</h4>
			<h4>· Predicción de la demanda.</h4>
			<h4>· TwitterBot informando sobre el estado de las estaciones.</h4>
			<h4>· Servicio YO para recibir notificaciones sobre incidencias.</h4>
		</div>
	</div>
	<br>
	</div>	
</div>
{% endblock %}
